<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>USER</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.user.name%></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= button_to "New Comment" , post_comments_new_path(post), method:'get' %></td>
    
    <td><%= link_to "Comment Count (#{post.comments.count})" %></td>

    

    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
<br />


